<!-- TODO update prepTime and cookTime when user changes, can i use ngModel or needs to use a dedicated function for this -->
<div class="container">
	<h1>הוספת מתכון</h1>
	<div>
		TODO: remove
		<pre>{{diagnostic}}</pre>
	</div>
    <form (ngSubmit)="submitForm()"  #addRecipeForm="ngForm">
        <fieldset>
        	<section class="add-recipe-section">
        		<div class="form-group">
	                <label for="recipe-title">כותרת</label>
	                <input #spy #recipeTitle="ngModel" type="text" [(ngModel)]="recipe.title" class="form-control" id="recipeTitle" name="recipeTitle" placeholder="הכנס כותרת" required>
	                <div [hidden]="recipeTitle.valid || recipeTitle.untouched" class="alert alert-danger">כותרת לא יכולה להישאר ריקה.</div>
	                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	            </div>
	            <fieldset class="form-group">
	                <label>סוג</label>
	                <div id="typesRadios" class="form-check radios-container">
	                	<div class="radio-container" *ngFor="let type of kosherTypes">
	                        <input type="radio"
	                               id="{{ type.name }}Radio"
	                               name="type"
	                               value="{{ type.presentedName }}"
	                               [(ngModel)]="recipe.kosherType" />
	                        <label class="form-check-label" for="{{ type.name }}Radio">{{ type.presentedName }}</label>
	                    </div>
	                </div>
	            </fieldset>
	            <fieldset class="form-group">
	                <label>דרגת קושי</label>
	                <div id="levelRadios" class="form-check radios-container">
	                	<div class="radio-container" *ngFor="let level of levels">
	                        <input type="radio"
	                               id="{{ level.name }}Radio"
	                               name="level"
	                               value="{{ level.presentedName }}"
	                               [(ngModel)]="recipe.level" />
	                        <label class="form-check-label" for="{{ level.name }}Radio">{{ level.presentedName }}</label>
	                    </div>
	                </div>
	            </fieldset>
	            <div class="form-group row">
	            	<div class="col-6">
		                <label>זמן הכנה</label>
		                <div class="row">
			                <div class="inline-block col-6">
				                <div class="select">
					                <select [(ngModel)]="prepTimeHours" name="prepTimeHoursSelect" class="form-control" (change)="prepTimeHoursChanged($event.target.value)">
					                	<option disabled hidden [value]="undefined">שעות</option>
								        <option *ngFor="let dummy of ' '.repeat(24).split(''), let x = index">{{ x + 1 }}</option>
							        </select>
							        <i class="fas fa-angle-down"></i>
				                </div>
						    </div>
						    <div class="inline-block col-6">
						        <div class="select">
							        <select [(ngModel)]="prepTimeMinutes" name="prepTimeMinutesSelect" class="form-control" (change)="prepTimeMinutesChanged($event.target.value)">
					                	<option disabled hidden [value]="undefined">דקות</option>
								        <option *ngFor="let dummy of ' '.repeat(60).split(''), let x = index">{{ x + 1 }}</option>
							        </select>
							        <i class="fas fa-angle-down"></i>
							    </div>
						    </div>
		                </div>
		                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	            	</div>
	            	<div class="col-6">
	            		<label>זמן בישול</label>
		                <div class="row">
			                <div class="inline-block col-6">
			                	<div class="select">
					                <select [(ngModel)]="cookTimeHours" name="cookTimeHoursSelect" class="form-control" (change)="cookTimeHoursChanged($event.target.value)">
					                	<option disabled hidden [value]="undefined">שעות</option>
								        <option *ngFor="let dummy of ' '.repeat(24).split(''), let x = index">{{ x + 1 }}</option>
							        </select>
							        <i class="fas fa-angle-down"></i>
							    </div>
						    </div>
						    <div class="inline-block col-6">
						    	<div class="select">
							        <select [(ngModel)]="cookTimeMinutes" name="cookTimeMinutesSelect" class="form-control" (change)="cookTimeMinutesChanged($event.target.value)">
					                	<option disabled hidden [value]="undefined">דקות</option>
								        <option *ngFor="let dummy of ' '.repeat(60).split(''), let x = index">{{ x + 1 }}</option>
							        </select>
							        <i class="fas fa-angle-down"></i>
							    </div>
						    </div>
		                </div>
		                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	            	</div>
	            </div>	
        	</section>
        	<!-- Ingredients -->
            <section class="add-recipe-section tabs-container">
            	<h2>מצרכים</h2>
            	<div class="form-group">
					<input id="ingredient-tab1" type="radio" name="ingredient-tabs" checked>
					<label class="tab" for="ingredient-tab1">הוספת מצרך</label>

					<input id="ingredient-tab2" type="radio" name="ingredient-tabs">
					<label class="tab" for="ingredient-tab2">ע"י הדבקה</label>

					<section id="ingredient-content1" class="tab-content">
		        		<div class="form-group">
			                <label>שם</label>
			                <input #ingredientNameInput [(ngModel)]="ingredientName" name="ingredientName" type="text" class="form-control" placeholder="שם המצרך">
			                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
			            </div>
			           	<div class="form-group row">
			           		<div class="col-6">
			           			<label>כמות</label>
			           			<input #ingredientQty type="text" class="form-control" placeholder="לדוג' 2, 1 1\3, 100, 0.5">
			           		</div>
			           		<div class="col-6">
			           			<label>מידה</label>
			           			<app-select-units [units]="units" [selectedUnit]=""></app-select-units>
			           		</div>
			           	</div>
			           	<div class="align-center">
							<button type="button" class="btn btn-outline-primary" [attr.disabled]="ingredientName ? null : true" (click)="addIngredient()">הוסף מצרך</button>			           		
			           	</div>
					</section>

					<section id="ingredient-content2" class="tab-content">
						<!-- add explanation -->
						<div class="form-group">
							<label>הדבק מצרכים</label>
	            			<textarea class="form-control" #ingredientsTextInput [(ngModel)]="ingredientText" name="ingredientText" rows="4" placeholder="הדבק מצרכים, כל מצרך בשורה חדשה."></textarea>
	            		</div>
            			<div class="align-center">
	            			<button type="button" class="btn btn-outline-primary" [attr.disabled]="ingredientText ? null : true" (click)="addPastedIngredients()">הוסף מצרכים</button>
	            		</div>
					</section>
					<section class="new-category">
						<div *ngIf="objectKeys(recipe.ingredients).length > 1" class="form-group">
							<label>הוסף לקטגוריה</label>
							<div class="select">
								<select class="form-control inline-block" (change)="ingredientsCategoryChanged($event.target.value)">
									<option *ngFor="let categoryName of objectKeys(recipe.ingredients)" [attr.selected]="categoryName == selectedIngredientsCategory ? true : null">{{ categoryName }}</option>
								</select>
								<i class="fas fa-angle-down"></i>
							</div>
						</div>
						<div class="form-group">
							<label>הוסף קטגוריה חדשה</label>
							<div class="flex-input-button-container">
								<input #newIngredientsCategoryInput [(ngModel)]="newIngredientsCategory" name="newIngredientsCategory" type="text" class="form-control" placeholder="לדוג' רוטב, ציפוי וכו'">
								<button type="button" class="btn btn-outline-primary" [attr.disabled]="newIngredientsCategory ? null : true" (click)="addIngredientCategory(newIngredientsCategoryInput.value)">הוסף קטגוריה</button>
							</div>
						</div>
					</section>
					<app-added-properties [addedObjects]="recipe.ingredients" [selectedObjectsCategory]="selectedIngredientsCategory" [objectType]="'ingredient'" [units]="units" (objectRemovedEvent)="ingredientRemoved($event)"></app-added-properties>
            	</div>
            </section>
    		<!-- Directions -->
            <section class="add-recipe-section tabs-container">
            	<h2>שלבי הכנה</h2>
            	<div class="form-group">
					<input id="directions-tab1" type="radio" name="directions-tabs" checked>
					<label class="tab" for="directions-tab1">הוספת שלב הכנה</label>

					<input id="directions-tab2" type="radio" name="directions-tabs">
					<label class="tab" for="directions-tab2">ע"י הדבקה</label>

					<section id="directions-content1" class="tab-content">
		        		<div class="form-group">
			                <label>שלב</label>
			                <input #directionInput [(ngModel)]="direction" name="direction" type="text" class="form-control" placeholder="הוסף שלב">
			                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
			            </div>
			           	<div class="align-center">
							<button type="button" class="btn btn-outline-primary" [attr.disabled]="direction ? null : true" (click)="addDirection()">הוסף שלב</button>			           		
			           	</div>
					</section>

					<section id="directions-content2" class="tab-content">
						<!-- add explanation -->
						<div class="form-group">
							<label>הדבק שלבים</label>
	            			<textarea class="form-control" #directionsTextInput [(ngModel)]="directionsText" name="directionsText" rows="4" placeholder="הדבק שלבים, כל שלב בשורה חדשה."></textarea>
	            		</div>
            			<div class="align-center">
	            			<button type="button" class="btn btn-outline-primary" [attr.disabled]="directionsText ? null : true" (click)="addPastedDirections()">הוסף שלבים</button>
	            		</div>
					</section>
					<section class="new-category">
						<div *ngIf="objectKeys(recipe.directions).length > 1" class="form-group">
							<label>הוסף לקטגוריה</label>
							<div class="select">
								<select class="form-control inline-block" (change)="directionsCategoryChanged($event.target.value)">
									<option *ngFor="let categoryName of objectKeys(recipe.directions)" [attr.selected]="categoryName == selectedDirectionsCategory ? true : null">{{ categoryName }}</option>
								</select>
								<i class="fas fa-angle-down"></i>
							</div>
						</div>
						<div class="form-group">
							<label>הוסף קטגוריה חדשה</label>
							<div class="flex-input-button-container">
								<input #newDirectionsCategoryInput [(ngModel)]="newDirectionsCategory" name="newDirectionsCategory" type="text" class="form-control" placeholder="לדוג' רוטב, ציפוי וכו'">
								<button type="button" class="btn btn-outline-primary" [attr.disabled]="newDirectionsCategory ? null : true" (click)="addDirectionCategory(newDirectionsCategoryInput.value)">הוסף קטגוריה</button>
							</div>
						</div>
					</section>
					<app-added-properties [addedObjects]="recipe.directions" [selectedObjectsCategory]="selectedDirectionsCategory" [objectType]="'direction'" (objectRemovedEvent)="directionRemoved($event)"></app-added-properties>
            	</div>
            </section>
            <section class="add-recipe-section">
            	<h2>פרטים נוספים</h2>
            	<div class="form-group">
            		<label>קטגוריות</label>
            		<select multiple="" class="form-control" [(ngModel)]="recipe.categories" name="categories">
				        <option *ngFor="let category of categories" value="{{ category._id }}">{{ category.name }}</option>
				    </select>
				    <small class="form-text text-muted">בחר קטגוריות הקשורות למתכון</small>
				</div>
				<div class="form-group">
					<label>סוג מטבח</label>
				    <select multiple="" class="form-control" [(ngModel)]="recipe.cuisines" name="cuisines">
				        <option *ngFor="let cuisine of cuisines" value="{{ cuisine._id }}">{{ cuisine.name }}</option>
				    </select>
				    <small class="form-text text-muted">בחר סוגי מטבחים הקשורים למתכון</small>
				</div>
				<div class="form-group">
					<label>מצרכים עיקריים</label>
				    <ng-select
						#mainIngredientsSelect
				        [items]="mainIngredients"
				        [multiple]="true"
				        [closeOnSelect]="false"
				        name="mainIngredients"
				        bindLabel="title"
				        bindValue="_id"
				        placeholder="בחר"
				        (change)="onMainIngredientsChange($event)"
				        [(ngModel)]="selectedMainIngredients">
					</ng-select>
				    <small class="form-text text-muted">בחר מצרכים עיקריים הנמצאים במתכון</small>
            	</div>
				<div class="form-group">
					<label>דרכי הכנה</label>
				    <select multiple="" class="form-control" [(ngModel)]="recipe.directionMethods" name="directionMethods">
				        <option *ngFor="let directionMethod of directionMethods" value="{{ directionMethod._id }}">{{ directionMethod.name }}</option>
				    </select>
				    <small class="form-text text-muted">בחר שיטות בישול במתכון</small>
            	</div>
            	<div class="form-group align-center">
	                <input type="file" id="imagesUploadInput" (change)="updateUploadedFiles($event)" class="form-control-file inputfile" name="recipe-images" aria-describedby="fileHelp" multiple  accept=".jpg,.jpeg,.png,.hief,.hiec">
	                <label for="imagesUploadInput"><i class="fas fa-upload"></i>הוספת תמונות</label>
	                <!-- <small id="fileHelp" class="form-text text-muted">הוסף תמונות של המתכון</small> -->
	            </div>
            </section>
            <div class="align-center">
				<button type="submit" class="btn btn-primary" [disabled]="!addRecipeForm.form.valid">הוסף מתכון</button>            	
            </div>
        </fieldset>
    </form>
</div>