
@import 'variables';

.container * { text-align: right; direction: rtl; }

form {
	.ng-touched.ng-invalid { border-right: 5px solid #a94442; }
}

.radios-container {

	display: flex;

	.radio-container { margin-left: .9375rem; }
	.form-check-label { padding-right: .625rem; margin-left: 0.9375rem; }
}

.add-recipe-section { 
	padding-bottom: 0.9375rem; 
	border-bottom: 3px solid $border-color; 
	margin-bottom: 0.9375rem; 

	h2 { font-size: 1.25rem; font-weight: bold; margin-bottom: 1.25rem; }
}

#imagesUploadInput + label {
	color: $red;
    background-color: #FFF;
    border: 2px solid $red;
    border-radius: 0.5rem;
    margin-bottom: 0;
}

#imagesUploadInput + label .fa-upload { margin-left: .625rem; }

.new-category {
	padding: 1.25rem 0 0.25rem 0;
    margin: 1.25rem 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
.new-category .select { display: inline-block; width: 30%; margin-right: 1rem; }

ul.uploaded-files {

	list-style-type: none;

	li {
		display: inline-block;
	    background-color: #fff5f5;
	    border: 1px solid #ffc2c2;
	    padding: .3125rem .5rem;
	    margin-left: .9375rem;

	    .file-name { padding-left: .3125rem }

	    .fa-times { cursor: pointer; }
	}
}

// CSS Tabs ====================================================================== 

/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/

.tabs-container {
	section.tab-content {
		display: none;
		padding: 1.25rem 0 0;
		margin-bottom: 20px;
		border-top: 1px solid $border-color;
	}

	input[type=radio] {
		display: none;
	}

	label.tab {
		display: inline-block;
		margin: 0 0 -1px;
		padding: 0.9375rem 1.5625rem;
		font-weight: 600;
		text-align: center;
		color: #bbb;
		border: 1px solid transparent;
	}

	label:before {
		font-family: fontawesome;
		font-weight: normal;
		margin-left: .625rem;
	}

	label:hover {
		color: #888;
		cursor: pointer;
	}

	input:checked + label {
		color: #555;
		border: 1px solid $border-color;
		border-top: 2px solid $red;
		border-bottom: 1px solid #fff;
	}
}

/*
.tabs-container label[for*='1']:before { content: '\f1cb'; }
.tabs-container label[for*='2']:before { content: '\f17d'; }
*/

#ingredient-tab1:checked ~ #ingredient-content1,
#ingredient-tab2:checked ~ #ingredient-content2,
#directions-tab1:checked ~ #directions-content1,
#directions-tab2:checked ~ #directions-content2 {
	display: block;
}

@media screen and (max-width: 650px) {
	.tabs-container {
		label {
			font-size: 0;
		}

		label:before {
			margin: 0;
			font-size: 1.125em;
		}
	} 
}

@media screen and (max-width: 400px) {
	.tabs-container label {
		padding: 0.9375em;
	}	
}