
// import bootstrap sass ====================================================================== 
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/forms";

// import project sass ====================================================================== 
@import 'variables';
@import 'mixins';

// General styling ====================================================================== 
* {
  margin: 0;
  padding: 0;
}

body { padding-top: 4.5rem; }

button { cursor: pointer; }

input[type=file].inputfile { 
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inline-block { display: inline-block !important; }
.align-center { text-align: center !important; }

// Bootstrap styling ====================================================================== 
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert { padding: 0.5rem 1.25rem; }

// Application global styling ====================================================================== 
.add-recipe-section { 
	h2 { font-size: 1.25rem; font-weight: bold; margin-bottom: 1.25rem; }
}

.flex-input-button-container {

	display: flex;

	input {
		width: 70%;
		margin-left: 2%;
	}

	button {
		width: 28%;
	}

}

.added-properties-container {
	li {
		.form-control:focus { 
			outline: none; 
			border-color: $border-color;
			@include box-shadow(none); 
		}
	}
}
