
@import "variables";

%border-radius-0 { border-radius: 0; }

.added-properties-container {

	margin-top: 0.75rem;
	border-top: 1px solid #DEDEDE;
	padding-top: 1.25rem;

	h3 {
		font-size: 1.125rem;
	}

	ul { 
		list-style-type: none; 

		li {
			display: flex;
			flex-direction: row;
			margin-top: -1px;

			input { border-left: none; }

			input[name="addedObjectQty"] { width: 15%; }

			.form-control { @extend %border-radius-0; }

			button {
			    margin-right: -3px;
			    outline: none;

			    &.delete {
			    	width: 7%;
			    	background-color: red;	
			    	color: #FFF;
			    	border: 1px solid $border-color;
			    }

			    &.handle { width: 8%; border: 1px solid $border-color; background-color: #FFF; }
			}
		}
	}
}

.added-ingredients input[name="addedObjectTitle"] { width: 55%; }
.added-directions input[name="addedObjectTitle"] { width: 85%; }
