<!-- TODO: need to set different ID? #ingredientUnit -->
<select [(ngModel)]="selectedUnit" #ingredientUnit class="form-control" [class.added-ingredient-select]="addedIngredient" name="selectUnit" (change)="unitSelectChanged($event.target.value)">
	<option value="0" [attr.selected]="!addedIngredient ? true : null" disabled>בחר</option>
    <option *ngFor="let unit of units" value="{{ unit.id }}" [attr.selected]="addedIngredient && addedIngredient.unit == unit.id ? true : null">{{ unit.name }}</option>
</select>