
@import "variables";

%border-radius-0 { border-radius: 0; }

.added-ingredients-container {

	padding-top: 20px;

	ul { 
		list-style-type: none; 

		li {
			display: flex;
			flex-direction: row;
			margin-top: -1px;

			input { border-left: none; }

			input[name="addedIngredientName"] { width: 60%; }
			input[name="addedIngredientQty"] { width: 15%; }
			select { width: 15%; }

			.form-control { @extend %border-radius-0; }

			button {
				width: 10%;
			    margin-right: -3px;
			    outline: none;

			    &.delete {
			    	background-color: red;	
			    	color: #FFF;
			    	border: 1px solid $border-color;
			    }

			    &.handle { border: 1px solid $border-color; background-color: #FFF; }
			}
		}
	}
}